<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.polyvi.xface.extra.lib"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="1.0.1">

    <name>lib</name>
    <author>PolyVi Inc.</author>
    <description>xFace Lib extra</description>
    <license>GPLv3</license>
    <keywords>xface,lib</keywords>

    <!-- android -->
    <platform name="android">
        <source-file src="android/src/XFaceLibLauncher.java" target-dir="src/com/polyvi/xface/lib"/>
		<source-file src="android/src/XFaceLibActivity.java" target-dir="src/com/polyvi/xface/lib"/>
		<source-file src="android/src/XFaceLibActivityManager.java" target-dir="src/com/polyvi/xface/lib"/>
        <source-file src="android/scripts/build_lib.xml" target-dir=""/>
		<asset src="android/doc" target="../xfaceSdk/doc"/>
		<asset src="android/demo" target="../xfaceSdk/demo"/>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <preference name="LibRunningMode" value="optimized" />
            <preference name="CustomLaunchImageFile" value="" />
        </config-file>

        <asset src="ios/scripts" target="../xfaceSdk/scripts" />
        <asset src="ios/demo" target="../xfaceSdk/demo" />
        <asset src="ios/doc" target="../xfaceSdk/doc" />
        <asset src="ios/readme.txt" target="../xfaceSdk/readme.txt" />
    </platform>
</plugin>
