<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.polyvi.xface.extra.lib"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="1.0.0-dev">

    <name>lib</name>
    <author>PolyVi Inc.</author>
    <description>xFace Lib extra</description>
    <license>GPLv3</license>
    <keywords>xface,lib</keywords>

    <!-- android -->
    <platform name="android">
        <source-file src="android/src/XFaceLibLauncher.java" target-dir="src/com/polyvi/xface/lib"/>
        <source-file src="android/scripts/build_lib.xml" target-dir=""/>
		<source-file src="android/doc/androidxFaceLib_zh.md" target-dir="xFaceLib/doc"/>
		<source-file src="android/doc/image/add_Resource.png" target-dir="xFaceLib/doc/image"/>
		<source-file src="android/doc/image/add_Test.png" target-dir="xFaceLib/doc/image"/>
		<source-file src="android/doc/image/add_xfaceLib.png" target-dir="xFaceLib/doc/image"/>
		<source-file src="android/doc/image/lib.png" target-dir="xFaceLib/doc/image"/>
		<source-file src="android/doc/image/manifest.png" target-dir="xFaceLib/doc/image"/>
		<source-file src="android/doc/image/permission.png" target-dir="xFaceLib/doc/image"/>
		<source-file src="android/doc/image/xfaceLib.png" target-dir="xFaceLib/doc/image"/>
		<source-file src="android/demo/assets/xface3/1/app.xml" target-dir="xFaceLib/demo/assets/xface3/1"/>
		<source-file src="android/demo/assets/xface3/1/cordova_plugins.js" target-dir="xFaceLib/demo/assets/xface3/1"/>
		<source-file src="android/demo/assets/xface3/1/index.html" target-dir="xFaceLib/demo/assets/xface3/1"/>
		<source-file src="android/demo/assets/xface3/1/xface.js" target-dir="xFaceLib/demo/assets/xface3/1"/>
		<source-file src="android/demo/assets/xface3/1/base.js" target-dir="xFaceLib/demo/assets/xface3/1"/>
		<source-file src="android/demo/assets/xface3/1/main.js" target-dir="xFaceLib/demo/assets/xface3/1"/>
		<source-file src="android/demo/assets/xface3/1/master.css" target-dir="xFaceLib/demo/assets/xface3/1"/>
		<source-file src="android/demo/assets/xface3/1/spec.html" target-dir="xFaceLib/demo/assets/xface3/1"/>
		<source-file src="android/demo/assets/xface3/1/workspace/workspace.zip" target-dir="xFaceLib/demo/assets/xface3/1/workspace"/>
		<source-file src="android/demo/assets/xface3/1/file/index.html" target-dir="xFaceLib/demo/assets/xface3/1/file"/>
		<source-file src="android/demo/assets/xface3/1/app/index.html" target-dir="xFaceLib/demo/assets/xface3/1/app"/>
		<source-file src="android/demo/assets/xface3/1/camera/index.html" target-dir="xFaceLib/demo/assets/xface3/1/camera"/>
		<source-file src="android/demo/assets/xface3/1/camera/xface.html" target-dir="xFaceLib/demo/assets/xface3/1/camera"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.device/www/device.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.device/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/com.polyvi.xface.extension.xapp/www/android/app.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/com.polyvi.xface.extension.xapp/www/android"/>
		<source-file src="android/demo/assets/xface3/1/plugins/com.polyvi.xface.extension.xapp/www/android/SysComponent.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/com.polyvi.xface.extension.xapp/www/android"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.camera/www/Camera.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.camera/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.camera/www/CameraConstants.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.camera/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.camera/www/CameraPopoverHandle.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.camera/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.camera/www/CameraPopoverOptions.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.camera/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/DirectoryEntry.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/DirectoryReader.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/Entry.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/File.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/FileEntry.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/FileError.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/FileReader.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/FileSystem.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/FileUploadOptions.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/FileUploadResult.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/FileWriter.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/Flags.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/LocalFileSystem.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/Metadata.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/ProgressEvent.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/requestFileSystem.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/resolveLocalFileSystemURI.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www"/>
		<source-file src="android/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/android/FileSystem.js" target-dir="xFaceLib/demo/assets/xface3/1/plugins/org.apache.cordova.file/www/android"/>
		<source-file src="android/demo/libs/armeabi/libentryex.so" target-dir="xFaceLib/demo/libs/armeabi"/>
		<source-file src="android/demo/libs/armeabi/libiconv.so" target-dir="xFaceLib/demo/libs/armeabi"/>
		<source-file src="android/demo/libs/armeabi/libjniNativeBridge.so" target-dir="xFaceLib/demo/libs/armeabi"/>
		<source-file src="android/demo/libs/armeabi/libSecurityKey.so" target-dir="xFaceLib/demo/libs/armeabi"/>
		<source-file src="android/demo/libs/armeabi/libzbarjni.so" target-dir="xFaceLib/demo/libs/armeabi"/>
		<source-file src="android/demo/libs/asmack.jar" target-dir="xFaceLib/demo/libs"/>
		<source-file src="android/demo/libs/umeng_sdk.jar" target-dir="xFaceLib/demo/libs"/>
		<source-file src="android/demo/libs/UPPayAssistEx.jar" target-dir="xFaceLib/demo/libs"/>
		<source-file src="android/demo/libs/UPPayPluginEx.jar" target-dir="xFaceLib/demo/libs"/>
		<source-file src="android/demo/libs/xface.jar" target-dir="xFaceLib/demo/libs"/>
		<source-file src="android/demo/libs/zbar.jar" target-dir="xFaceLib/demo/libs"/>
		<source-file src="android/demo/res/drawable/icon.png" target-dir="xFaceLib/demo/res/drawable"/>
		<source-file src="android/demo/res/drawable/splash.png" target-dir="xFaceLib/demo/res/drawable"/>
		<source-file src="android/demo/res/drawable/camera_crop_height.png" target-dir="xFaceLib/demo/res/drawable"/>
		<source-file src="android/demo/res/drawable/camera_crop_width.png" target-dir="xFaceLib/demo/res/drawable"/>
		<source-file src="android/demo/res/drawable/indicator_autocrop.png" target-dir="xFaceLib/demo/res/drawable"/>
		<source-file src="android/demo/res/layout/main.xml" target-dir="xFaceLib/demo/res/layout"/>
		<source-file src="android/demo/res/raw/push.properties" target-dir="xFaceLib/demo/res/raw"/>
		<source-file src="android/demo/res/values/strings.xml" target-dir="xFaceLib/demo/res/values"/>
		<source-file src="android/demo/res/values/style.xml" target-dir="xFaceLib/demo/res/values"/>
		<source-file src="android/demo/res/xml/config.xml" target-dir="xFaceLib/demo/res/xml"/>
		<source-file src="android/demo/res/xml/xface_string.xml" target-dir="xFaceLib/demo/res/xml"/>
		<source-file src="android/demo/src/com/test/start/xface/TestStart.java" target-dir="xFaceLib/demo/src/com/test/start/xface"/>
		<source-file src="android/demo/.classpath" target-dir="xFaceLib/demo"/>
		<source-file src="android/demo/.project" target-dir="xFaceLib/demo"/>
		<source-file src="android/demo/AndroidManifest.xml" target-dir="xFaceLib/demo"/>
		<source-file src="android/demo/project.properties" target-dir="xFaceLib/demo"/>
    </platform>
    <platform name="ios">
        <asset src="ios/scripts" target="../../xfaceSdk/scripts" />
        <asset src="ios/demo" target="../../xfaceSdk/demo" />
        <asset src="ios/doc" target="../../xfaceSdk/doc" />
    </platform>
</plugin>
